<h1> id <%=@todo.id%> </h1>
<h1> <%=@todo.description%> </h1>
<h1> <%=@todo.pomodoro_estimate %></h1>
<br></br>
<a href="/todo/index">Go home!</a>
<br></br>
  <div class="container">
    <a href="/todo/edit/<%= @todo.id%>"> <input type="submit" value="Edit" class="box-one"/></a>
    <br/>
    <a href="/todo/destroy/<%= @todo.id%>"> <input type="submit" value="Delete" class="box-two"/></a>

  </div>
</div>
